
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, textarea, select, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  font-family: 'Inter', Helvetica;
  text-decoration: none;
}
input:focus {
  outline: none;
}

body{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.page-width{
    margin: 0 auto;
    width: 80%;
}
p{
    font-family: 'Inter' , sans-serif;
}
.pai-header-pagina1{
    background-color: #1b1107;

}
.header{
    border: 1px solid #ffffff;
    color: #ffffff;
    display: flex;
}
.logo{
    width: 15%;
}
.logo h2{
   
    font-family: 'Lora', serif;
    color: #ffffff;

}
.menu{
    width: 65%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 15px;
    display: inline;
    line-height: 70px; 
}
li a{
    color: #ffffff;
}
.header{
    text-align: center;
}
.lupa-hr{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.lupa-hr hr{
    height: 40px;
    
}
.login-lupa{
    width: 20%;
    display: flex;
    justify-content: right;

}
.lupa{
    display: flex;
}
.lupa img{
    line-height: 70px;
    margin: 0 30px 0 30px;
    width: 30px;
    
}
.login a{ 
    color: #ffffff;
    line-height: 70px;
    
   
}
.pai-pagina1 .texto-maior h1{
    
    color: #ffffff;
}
.texto-maior h1{
    font-family: 'Lora' ,serif;
    font-weight: 700;  
    font-size: 70px;

}


.page1-info .texto-menor p{
    color: #ffffff;
}
.page1-buttom{
    margin-top: 30px;
}
.buttom{
    font-family: 'Inter', sans-serif;
    padding: 15px 20px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 5px;
}

.page1-buttom .buttom.buttom2{
    margin-left: 20px;
}
.buttom.buttom1{
    background-color:#E7D7BC;
    color: #1F160D;

}
.buttom.buttom1:hover{
    background-color:#91816e;
    transition: all 0.3s;
    color: #E7D7BC;
}
.buttom.buttom2{
    background-color: #1a1107;
    border: 1px solid#E7D7BC;
    color: #E7D7BC;
}
.buttom.buttom2:hover{
    background-color:#91816e;
    transition: all 0.3s;
    color: #1a1107;
}
.dados{
    color: #ffffff;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

.dados-numero{
    font-weight: 500;
    font-size:25px;
    text-align: center;
    font-family: 'Lora' , serif;
    margin: 0;
}
.dados1{
    margin-right: 30px;
}
.dados-info{
    font-weight: 400;
    text-align: center;
    margin: 0; 
    text-transform: uppercase;
    font-weight: 700;
}

.page1-img img{
    height: 100%;
    object-fit:contain;
    width: 100%;  
    max-height: 600px;
    
}  

.pai-pagina1{
    display: flex;
    padding-bottom: 50px;
}
.page1-info{
    width: 50%;
}
.page1-img{
    width: 50%;
    text-align: center;
    
    
}
.pai-pagina2{
    background-color: #efdfc4;
    padding:60px 0;
}
.pai-pagina2 .texto-maior h1{
    color: #1a1107;
    margin: 0;
}
.pai-pagina2 .texto-menor p{
    color: #1a1107 ;
    font-weight: 400; 
}
.buttom.buttom3{
    background-color: #1a1107;
    color: #ffffff;
    transition: all 0.3s;
    border: 2px solid #1a1107 ;

}
.buttom.buttom3:hover{
    background-color:#91816e;
    transition: all 0.3s;
    color: #1a1107;
}
.page2-buttom{
    margin-top: 50px;
}
.caixinha-pag2{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.caixinha-pag2:last-child{
    flex-direction: row-reverse;
    text-align: right;
}
.img-pagina2{
    width: 50%;
    text-align: center;
    
}
.img-pagina2 img{
    width: 100%;
    border-radius: 40px;
    max-width: 350px;
    max-height: 400px;
    object-fit: cover;
}
.agrupe-info{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column ;
}

.pai-pagina3{
    background-color: #ddb288;
    padding-bottom: 40px;
}
.pai-pagina3 .texto-maior h1{
    margin: 0;
    padding-top: 90px;
    text-align: center;
    color: #1a1107;
}
.pai-pagina3 .texto-menor p{
    text-align: center;
    padding-top: 20px;
    color: #1a1107;
}
.opcoes {
    display: flex;
    justify-content: center;
}
.opcoes-cafe p{
    padding: 0 50px;
    font-weight: 800;
    font-family: 'Lora' , serif; 
    margin-bottom: 7px; 
}
.opcoes-cafe p:hover{
    color: rgba(27, 17, 7, 0.70);
    transition: all 0.3s;
}
.opcoes-cafe hr{
    width: 30px;
    background-color: #1a1107;
    border: none;
    height: 3px;
    margin-top:0;
    margin-bottom: 0;
}
.img-opcoes{
    border:1px solid #1a1107;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 60px;
    box-shadow: inset 0 137px 0 0px #1a1107;
}
.item-opcao{
    padding: 30px 30px 0 30px;
}
.opcoes-pagina3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.img-opcoes img{
    width: 200px;
    border: 6px solid #ddb288;
    
   
}

.img-opcoes h2{
    font-family: 'Lora' , serif ;
    color: #1a1107;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ordernow a{
    border: 1px solid #1a1107;
    font-size: 26px;
    font-family: 'Lora' , serif;
    background-color: #E7D7BC;
    padding: 10px 0;
    color: #1a1107;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.agrupe-setinha{
    display: flex;
    justify-content: center;
}

.pai-pagina3 .setinha img{
    background-color: #1a1107;
    width: 15px;
    padding: 10px 15px;
    margin-right: 25px;
}
.pai-pagina4{
    background-color: #efdfc4;
    margin-top:0;
    padding-bottom: 90px;
    
}
.pai-pagina4 .texto-maior h2 {
    text-align: center;
    padding-top: 20px;
    color: #1a1107;
    font-family: 'Lora' , serif;
    font-size: 45px;
    margin: 0;
    padding-top: 50px;
}

.img-cliente{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    overflow: hidden;
    border: 6px solid #efdfc4;
    position: absolute;
    top: -75px;
}
.img-cliente img{
    height: 100%;
    object-fit:cover;
    width: 100%;    
}
.pai-feedback .setinha{
    
    border-radius: 5px;
    margin-right: 50px;
    background-color: #DDB288;
    height: 80px;
    width: 80px;
    
}
.pai-feedback .setinha img{
    width: 16px;
    height: 16px;
    
}
.pai-feedback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}
.caixinha-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1107;
    color: #efdfc4;
    padding: 110px 30px 30px 30px;
    position: relative;
    
}
.caixinha-depoimento p{
    font-family: 'Lora' , serif;
    text-align: center;
    font-size:23px;
    margin-bottom:40px ;
    margin-top: 30px;
}
.name p{
    font-family: 'Lora' , serif;
    font-size: 26px;
    font-weight: 900;
    margin: 0;
}
.avaliacao img{
    width: 20px;
    padding-left: 10px;
}
.estrela-pag4{
    display: flex;
}

.caixinha-email{
    display: flex;
}
.pai-newslatter{
    background-color: #DDB288;
}
.newslatter{
    display: flex;
    
}
.newslatter .texto-maior{
    width: 50%;
}
.newslatter .texto-maior h2{
    font-family: 'Lora' ,serif;
    font-weight: 900;
    font-size: 40px;
    
}
.agrupe-email{
    width: 50%;
}
#input-email{
    padding: 10px 15px;
    width: 80%;
    background-color: #E7D7BC;
    max-width: 50%;
}
.pai-newslatter .setinha{
    background-color: #1a1107;
    color:#ffffff;
    width: 40px;
}
.pai-newslatter .setinha img{
    width: 10px;
}




