
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, input, textarea, select, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a {
  font-family: 'Inter', Helvetica;
  text-decoration: none;
}
input:focus {
  outline: none;
}

body{
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.page-width{
    margin: 0 auto;
    width: 80%;
}
p{
    font-family: 'Inter' , sans-serif;
}
.pai-header-pagina1{
    background-color: #1b1107;
    height: 100vh;
    padding-top: 20px;
}
.pai-header-pagina1 .page-width{
    height: 100%;
}
.header{
    border: 1px solid #E7D7BC;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 80px;
}
.logo{
    width: 15%;
}
.logo h2{
   
    font-family: 'Lora', serif;
    color: #E7D7BC;
    font-size: 30px;
}
.menu-mobile , .icone-menu{
    display: none;
}

.menu{
    width: 65%;
}
.menu ul li a{
    padding: 10px 16px;
    border-radius: 6px;
    transition: all 0.3s;
    color: #E7D7BC;
}
.menu ul li a:hover , .menu ul li a.active{
    background-color:#EFDFC4;
    color: #1a1107;
    transition: all 0.3s;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    display: inline;
    line-height: 70px; 
}
li a{
    font-weight: 700;
    font-size: 15px;
}
.header{
    text-align: center;
}
.lupa-hr{
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.lupa-hr hr{
    height: 40px;
    background-color: #E7D7BC;
    border:none;
    width: 1px;
}
.login-lupa{
    width: 20%;
    display: flex;
    justify-content: right;
}
.login-lupa .login a{
    color: #E7D7BC;
}
.lupa{
    display: flex;
    align-items: center;
}
.lupa svg{
    
    margin: 0 30px 0 30px;
    width: 30px;
}
.login a{ 
    color: #ffffff;
    line-height: 70px; 
}
.pai-pagina1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
}
.page1-info{
    width: 50%;
}
.page1-img{
    width: 50%;
    text-align: center;  
}
.texto-maior h1{
    font-family: 'Lora' ,serif;
    font-weight: 700;  
    font-size: 70px;
    color: #E7D7BC;
    margin: 0;
}

.page1-info{
    
}
.page1-info .texto-menor p{
    color: #ffffff;
    padding: 20px 0;
}
.page1-buttom{
    margin-top: 30px;
}
.buttom{
    font-family: 'Inter', sans-serif;
    padding: 15px 20px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 5px;
}

.page1-buttom .buttom.buttom2{
    margin-left: 20px;
}
.buttom.buttom1{
    background-color:#E7D7BC;
    border: 1px solid#E7D7BC;
    color: #1F160D;

}
.buttom.buttom1:hover{
    background-color:#1a1107;
    border: 1px solid #E7D7BC;
    transition: all 0.3s;
    color: #E7D7BC;
}
.buttom.buttom2{
    background-color: #1a1107;
    border: 1px solid#E7D7BC;
    color: #E7D7BC;
}
.buttom.buttom2:hover{
    background-color:#E7D7BC;
    transition: all 0.3s;
    color: #1a1107;
}
.dados{
    color: #ffffff;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
}

.dados-numero{
    font-weight: 500;
    font-size:25px;
    text-align: center;
    font-family: 'Lora' , serif;
    margin: 0;
}
.dados1{
    margin-right: 30px;
}
.dados-info{
    font-weight: 400;
    text-align: center;
    margin: 0; 
    text-transform: uppercase;
    font-weight: 700;
}

.page1-img img{
    height: 100%;
    object-fit:contain;
    width: 100%;  
    max-height: 600px;
    
}  


.pai-pagina2{
    background-color: #efdfc4;
    padding:60px 0;
}
.pai-pagina2 .texto-maior h1{
    color: #1a1107;
    margin: 0;
}
.pai-pagina2 .texto-menor p{
    color: #1a1107 ;
    font-weight: 400;
    
}
.buttom.buttom3{
    background-color: #1a1107;
    color: #E7D7BC;
    transition: all 0.3s;
    border: 2px solid #1a1107 ;

}
.buttom.buttom3:hover{
    background-color:#E7D7BC;
    transition: all 0.3s;
    color: #1a1107;
}
.page2-buttom{
    margin-top: 50px;
}
.caixinha-pag2 .agrupe-info{
    padding: 70px;
}
.caixinha-pag2{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.caixinha-pag2:last-child{
    flex-direction: row-reverse;
    text-align: right;
}
.img-pagina2{
    width: 50%;
    text-align: center;
    
}
.img-pagina2 img{
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    object-fit: cover;
}
.img-pagina2 img{
    transform: rotate(3deg);
}
.img-pagina2 img{
    transform:rotate(-3deg);
}
.agrupe-info{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:column ;

}

.pai-pagina3{
    background-color: #ddb288;
    padding-bottom: 40px;
}
.pai-pagina3 .texto-maior h1{
    margin: 0;
    padding-top: 90px;
    text-align: center;
    color: #1a1107;
}
.pai-pagina3 .texto-menor p{
    text-align: center;
    padding-top: 20px;
    color: #1a1107;
}
.opcoes {
    display: flex;
    justify-content: center;
}
.opcoes-cafe p{
    padding: 0 50px;
    font-weight: 600;
    font-family: 'Inter' , sans-serif; 
    margin-bottom: 7px; 
    color: #1a1107;
    transition: 0.3s all;
    opacity: 0.5;
}
.opcoes-cafe p:hover{
    opacity: 1;
    transition: all 0.3s;
}
.opcoes-cafe hr{
    width: 30px;
    background-color: #1a1107;
    border: none;
    height: 3px;
    margin-top:0;
    margin-bottom: 0;
}
.opcoes-cafe.active p{
    opacity: 1;
}
.img-opcoes{
    border:1px solid #1a1107;
    text-align: center;
    margin-right: 30px;
    box-shadow: inset 0 137px 0 0px #1a1107;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;

}
.item-opcao{
    padding: 30px 30px 0 30px;
}
.opcoes-pagina3{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.img-opcoes img{
    width: 200px;
    border: 6px solid #ddb288;
  
}

.img-opcoes h2{
    font-family: 'Lora' , serif ;
    color: #1a1107;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ordernow{
    margin-top: auto;
}
.ordernow a{
    border-top: 1px solid #1a1107;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter' , sans-serif;
    background-color: #E7D7BC;
    padding: 18px 0;
    color: #1a1107;
    width: 100%;
    display: block;
    box-sizing: border-box;

}
.agrupe-setinha{
    display: flex;
    justify-content: center;

}
.agrupe-setinha .setinha{
    background-color: #1a1107;
    margin-right: 25px;
}
.agrupe-setinha .setinha svg{
    fill: #D9D9D9;
} 
.pai-pagina3 .setinha img{
    background-color: #1a1107;
    width: 15px;
    padding: 10px 15px;
    margin-right: 25px;
}
.pai-pagina4{
    background-color: #efdfc4;
    margin-top:0;
    padding-bottom: 90px;
    
}
.pai-pagina4 .texto-maior h2 {
    text-align: center;
    padding-top: 20px;
    color: #1a1107;
    font-family: 'Lora' , serif;
    font-size: 45px;
    margin: 0;
    padding-top: 50px;
}

.img-cliente{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    overflow: hidden;
    border: 6px solid #efdfc4;
    position: absolute;
    top: -75px;
}
.img-cliente img{
    height: 100%;
    object-fit:cover;
    width: 100%;    
}
.pai-feedback{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
}
.setinha{
    border: 1px solid #1a1107;
    border-radius: 5px;
    background-color: #DDB288;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setinha svg{
    width: 16px;
    height: 16px;
    fill: #1a1107;
    
}

.caixinha-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1107;
    color: #efdfc4;
    padding: 110px 30px 30px 30px;
    position: relative;
    width: 75%;
    border-radius: 5px;
}
.caixinha-depoimento p{
    font-family: 'Inter' , sans-serif;
    text-align: center;
    font-size:23px;
    margin-bottom:40px ;
    margin-top: 30px;
}
.name p{
    font-family: 'Inter' , sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}
.avaliacao img{
    width: 20px;
    padding-left: 10px;
}
.estrela-pag4{
    display: flex;
}

.caixinha-email{
    display: flex;
}
.pai-newslatter{
    background-color: #DDB288;
}
.newslatter{
    display: flex;
    
}
.newslatter .texto-maior{
    width: 50%;
}
.newslatter .texto-maior h2{
    font-family: 'Lora' ,serif;
    font-weight: 900;
    font-size: 40px;
    
}
.agrupe-email{
    width: 50%;
}
#input-email{
    padding: 10px 15px;
    width: calc(100% - 40px);
    background-color: #E7D7BC;
    border: none;
    border-radius: 5px;
}
.pai-newslatter .setinha{
    background-color: #1a1107;
    color:#ffffff;
    width: 40px;
}
.pai-newslatter .setinha img{
    width: 10px;
}

.pai-pagina6{
    background-color: #1a1107;
}
.final-pag6 p{
    color: #D9D9D9;
    margin: 0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Inter' , sans-serif;
    font-weight: 600;
    font-size: 15px;
}



/*LOGIN*/
.pai-login{
    display:flex;
    height: 100vh;
}
.login-page{
    background-color: #1a1107;
}
.pai-login .img-login{
    width: 50%;
    height: 100%;
    background-image: url("./assets/img-login.png");
    box-shadow: 0px 0px 0px 15px #E7D7BC;
}
.pai-login .login{
    width: 50%;
}
.login-page .page-width{
    width: 100%;
}
.login{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login h1{
    font-family: 'Lora' , serif;
    color: #E7D7BC;
    font-size: 60px;
}
.info-login{
    background-color: #E7D7BC;
    padding: 30px 70px;
    border-radius: 5px;
    
}
.agrupe-login{
    max-width: 60%;
}
.info-login p{
    font-family: 'Inter' , sans-serif;
    text-align: left;
    margin-left: 25%;
}
.info-login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caixinha-info{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
label{
    font-family: 'Inter' , sans-serif;
    text-align: left;
    margin: 10px 0;
}
.button-agrupe-login{
    margin-top: 20px;
}
.button-agrupe-login .button{
    background-color: #DDB288;
    font-family: 'Inter' , sans-serif;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
.button.button-login {
    background-color: #1a1107;
    color: #E7D7BC;
    padding: 10px 50px;
}


/*MOBILE*/

@media (max-width:1366px){
    .menu{
        display: none;
    }
    .login-lupa{
        display: none;
    }
    .header{
        border: 2px solid #E7D7BC;
    }
    .logo{
        padding-left: 30px;
    }
    .pai-pagina1{
        flex-direction: column-reverse;

    }
    .page1-info{
        width: 100%;
    }
    .page1-img{
        width: 250px;
    }
    .page1-info .texto-maior h1{
        font-size: 40px;
        width: 300px;
        
    }

    .caixinha-pag2{
        flex-direction: column !important; 
        text-align:left !important;
    }
    .img-pagina2{
        width: 100%;
    }
    .img-pagina2 img{
        transform: rotate(0);
        max-width: 100%;
        height: 350px;
        border-radius: 5px;
    }
    .caixinha-pag2 .agrupe-info{
        padding:0px;
    }
    .agrupe-info{
        width: 100%;
    }
    .agrupe-info .texto-maior h1{
        font-size: 45px;
        padding-top: 20px;
    }
    .page2-buttom{
        margin-top: 30px;
    }


    .pai-pagina3 .page-width{
        width: 100%;
    }

    .opcoes-pagina3{
        flex-direction: column;
        align-items: center;
    }
    .pai-pagina3 .texto-maior h1{
        font-size: 45px;
    }
    .opcoes-cafe p{
        padding: 0 25px;
    }
    .img-opcoes{
        margin: 20px 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .pai-pagina4{
        padding-bottom: 0;
    }
    .pai-pagina4 .page-width{
        width:100%;
    }
    .pai-pagina4 .texto-maior h2{
        margin: 0 60px;
        font-size: 45px;
        text-align: left;
        padding-top: 100px;
    }
    .pai-feedback{
        margin-top: 140px;
    }
    .caixinha-feedback{
        max-width: 100%;
        width: 100%;
        border-radius: 0;
    }
    .pai-pagina4 .setinha{
        display: none;
    }

    .icone-menu {
        display: flex;
        margin-left: auto;
        padding-right: 50px;
    }
    .icone-menu svg{

    }
    .menu-mobile.active{
        display: flex;
    }
    .menu-mobile{
        background-color: #E7D7BC;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        display: none;
    }
    .menu-mobile .menu{
        display: block;   
        margin-top: 80px; 
    }
    .menu-mobile .menu a, .menu-mobile .login-lupa-mobile a{
        color: #1a1107;
        font-size: 25px;
        padding-left: 15px;
    }
   
    .menu-mobile li{
        display: block;
        text-align: left;
    
    }
    .menu-mobile .login-lupa-mobile:last-child{
        margin-bottom: 80px;
    }
    .login-lupa-mobile li{
        border: 1px solid #1a1107;
        border-radius: 5px;
        margin-top: 20px;
    }
    .menu-mobile .login-lupa-mobile li:last-child{
        background-color: #1a1107;

    }
    .menu-mobile .login-lupa-mobile li:last-child a{
        color: #E7D7BC;
        
    }

    .menu-mobile .page-width .header {
        display: flex;
        border: 2px solid #1a1107;
        margin-top: 30px;
        
    }
    .menu-mobile .page-width .logo h2{
        color: #1a1107;
        
    }
    .menu-mobile .page-width .icone-x {
        margin-left: auto;
        padding-right: 40px;
    }
    .login-lupa-mobile li {
        display:flex;
        
    }
    .login-lupa-mobile ul li a{
        width: 100%;
        transition: all 0.3s;
    }
    .icone-lupa{
        margin-left: auto;
        padding-right: 30px;
        display: flex;
        align-items: center;
    }
    .icone-lupa svg{
        width: 35px;
    }
    .login-lupa-mobile{
        
        margin-top: auto;
    }
    .menu-mobile .page-width {
        display: flex;
        flex-direction: column;
    }
    .menu-mobile .menu ul li a:hover {
        border: 1px solid #1a1107;
        background-color: transparent;
        color: #1a1107;
        transition: all 0.3s;
    }
   .newslatter{
        flex-direction: column;
        align-items: center;
   }
   .newslatter .texto-maior{
        margin-top: 30px;
        width: 100%;
   }
    .newslatter .texto-maior h2{
        font-size: 30px;
    }
    .agrupe-email{
        width: 100%;
    }
    .caixinha-email{
        margin-bottom: 50px;
        margin-top: 20px;
    }


    .page-width{
        
    }
    .pai-login{
        
    }

    .img-login {
       display: none;
    }
    .pai-login .login{
        width: 100%;
        
    }

    .button-agrupe-login .button{
        width: 100%;
    }
    .button.button-create{
        margin-bottom: 6px;
    }

    .agrupe-login{
        width: 100%;
        max-width: 60%;
        min-width: 450px;
    }
}   
    @media (max-width:480px){
        .agrupe-login{
            width: 100%;
            max-width: 90%;
            min-width: 200px;
        }

    }








